In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('2015_grants.csv',  index_col=0)
df_16 = pd.read_csv('2016_grants.csv', index_col=0)

In [3]:
print(df.shape)
print(df_16.shape)

(285184, 59)
(259792, 61)

In [4]:
# remove all "Kleinempfänger"
little_15 = df.loc[df.name == 'Kleinempfänger']
little_16 = df_16.loc[df_16.name == 'Kleinempfänger']
df = df.loc[df.name != 'Kleinempfänger']
df_16 = df_16.loc[df_16.name != 'Kleinempfänger']

In [5]:
print(df.shape)
print(df_16.shape)
print(little_15.shape)
print(little_16.shape)

(269582, 59)
(253740, 61)
(15602, 59)
(6052, 61)

In [6]:
#tmp = df[df.duplicated(["name", "plz", "place"], keep=False)]
#tmp_16 = df_16[df_16.duplicated(["name", "plz", "place"], keep=False)]

In [7]:
#df = df.groupby(['name', 'plz', 'place'], as_index=False).sum()
#df_16 = df_16.groupby(['name', 'plz', 'place'], as_index=False).sum()

In [8]:
#df1 = df.groupby(['name', 'plz', 'place']).sum()
#print(df1)
#df = pd.merge(df,df1,on=['name', 'plz', 'place'],how='inner')

In [9]:
#df.sort("diff").groupby("item", as_index=False).first()
#print(df)

In [10]:
#df[df.duplicated(["name", "plz", "place"], keep=False)]

In [11]:
#tmp = tmp.sort_values(["Gesamt"])
#tmp = tmp_16.sort_values(["Gesamt"])
#tmp.drop_duplicates(["name", "plz", "place"], keep=False, inplace=True)
#tmp_16.drop_duplicates(["name", "plz", "place"], keep=False, inplace=True)

In [12]:
#tmp = tmp.loc[:, ["pid", "name", "plz", "place"]]
#tmp_16 = tmp_16.loc[:, ["pid", "name", "plz", "place"]]

In [13]:
#test = pd.merge(tmp, gp_15, how="inner", on=["name", "plz", "place"])
#test_16 = pd.merge(tmp_16, gp_16, how="inner", on=["name", "plz", "place"])
#print(test)

In [14]:
#print(df.shape)
#df = pd.concat([df, test], ignore_index=True)
#df_16 = pd.concat([df_16, test_16], ignore_index=True)
#print(df.shape)

In [15]:
#print(df.shape)

In [16]:
#df[df.duplicated(["name", "plz", "place"], keep=False)]

In [17]:
#df_16[df_16.duplicated(["name", "plz", "place"], keep=False)]

In [18]:
df = df.drop_duplicates(["name", "plz", "place"], keep=False)
df_16 = df_16.drop_duplicates(["name", "plz", "place"], keep=False)

In [19]:
Total = df['Gesamt'].sum()
Total /= (10**8)
print (Total)
Total_16 = df_16['Gesamt'].sum()
Total_16 /= (10**8)
print (Total_16)

6452.10659279
5737.57592941

In [20]:


cols = list(df.columns.values) #Make a list of all of the columns in the df
cols.pop(cols.index('pid')) #Remove b from list
cols.pop(cols.index('name')) #Remove x from list
cols.pop(cols.index('plz')) #Remove b from list
cols.pop(cols.index('place')) #Remove x from list
cols.pop(cols.index('Gesamt')) #Remove b from list
df = df[['pid','name', 'plz', 'place', 'Gesamt']+cols] #Create new dataframe with columns in the order you want



cols = list(df_16.columns.values) #Make a list of all of the columns in the df
cols.pop(cols.index('pid')) #Remove b from list
cols.pop(cols.index('name')) #Remove x from list
cols.pop(cols.index('plz')) #Remove b from list
cols.pop(cols.index('place')) #Remove x from list
cols.pop(cols.index('Gesamt')) #Remove b from list
df_16 = df_16[['pid','name', 'plz', 'place', 'Gesamt']+cols] #Create new dataframe with columns in the order you want

In [21]:
#print(df)
#df.dtypes

In [22]:
# Convert the cents in €. TODO: fix parser 
df.iloc[:, 4:59] = df.iloc[:, 4:59] / 100
#df.iloc[:, 1] = df.iloc[:, 1] / 100
df_16.iloc[:, 4:64] = df_16.iloc[:, 4:64] / 100
#df_16.iloc[:, 1] = df_16.iloc[:, 1] / 100

In [23]:
# for debugging
t_15 = df['Gesamt'].sum()/(10**6)
t_16 = df_16['Gesamt'].sum()/(10**6)
print(t_15, t_16)

6452.10659279 5737.57592941

In [24]:
#print(df)
df.fillna(0, inplace=True)
df_16.fillna(0, inplace=True)

In [25]:
p1 = df.loc[:, ["pid", "name", "plz", "place"]]
p1.sort_values(["plz", "name", "pid"], inplace=True)

In [26]:
p1.reset_index(drop=True, inplace=True)

In [27]:
p1.insert(0, 'ID', range(15000000, 15000000 + len(p1)))

In [28]:
p2 = p1.fillna(0)

In [29]:
p1_16 = df_16.loc[:, ["pid", "name", "plz", "place"]]
p1_16.sort_values(["plz", "name", "pid"], inplace=True)

In [30]:
#p1[p1.duplicated(["name", "plz", "place"], keep=False)]

In [31]:
#p1_16[p1_16.duplicated(["name", "plz", "place"], keep=False)]

In [32]:
r1 = pd.merge(p1, p1_16, how='outer', on=['name', 'plz', 'place'])
r1.rename(columns={'pid_x': '2015', 'pid_y': '2016'}, inplace=True)

In [33]:
r1[r1.duplicated(["name", "plz", "place"], keep=False)]

Empty DataFrame
Columns: [ID, 2015, name, plz, place, 2016]
Index: []

In [34]:
#'''
#Keep for demo and later investigation
#r_inner = pd.merge(p1, p1_16, how='inner', on=['name', 'plz', 'place'])
#r_inner.rename(columns={'pid_x': '2015', 'pid_y': '2016'}, inplace=True)
#remain_15 = p1[~p1.isin(r_inner)].dropna()
#remain_16 = p1_16[~p1_16.isin(r_inner)].dropna()
#r_comp = r1.copy()
#r_comp[~r_comp.isin(r_inner)].dropna()
#rem_15 = p1[~p1.isin(r_inner.to_dict('l')).all(1)]
#print(r_inner.shape)
#r_inner = r_inner.drop_duplicates("2015")
#r_inner = r_inner.drop_duplicates("2016")
#test = pd.merge(r_inner, rem2_15, how='inner', on=['name', 'plz', 'place'])
#print(test)
#test = pd.merge(r_inner, rem2_16, how='inner', on=['name', 'plz', 'place'])
#print(test)
#pd.options.mode.chained_assignment = None
#rem2_16.insert(0, "ID", np.nan)
#rem2_15.rename(columns={'pid': '2015'}, inplace=True)
#rem2_16.rename(columns={'pid': '2016'}, inplace=True)#
#
#print(p1.shape)
#print(r_inner.shape)
#print(rem2_15.shape)
#print(rem2_16.shape)#
#
#r1 = pd.concat([r_inner, rem2_15])
#r1 = pd.concat([r1, rem2_16])#
#
#r1_old = r1
#r_comp = r1
#
#print(r_comp.shape)
#print(r1_old.shape)
#print(r_inner.shape)
#'''

In [35]:
#print(r1.shape)
#r1 = r1.drop_duplicates("2015")
#r1 = r1.drop_duplicates("2016")
#print(r1.shape)

In [36]:
#t4_15 = r_comp['Gesamt'].sum()/(10**6)
#t4_16 = r_comp['Gesamt'].sum()/(10**6)
#print(t4_15, t4_16)

In [37]:
#print(r_test)
#r1.replace(np.NaN, range(16000000, 16000000 + len(r1)))

In [38]:
#r1.fillna(value=range(16000000, 16000000 + len(r1)), axis=0)
#print(r1)

In [39]:
#missing_no = r1.loc[:, "2016"].isnull().sum()
#print(missing_no)

In [40]:
ids = pd.Series(range(16000000 + len(r1), 16000000, -1))

In [41]:
r1["ID"].fillna(value=ids, inplace=True)

In [42]:
#print(r1)

In [43]:
#print(r1.loc[r1.plz == 91586])

In [44]:
print(r1.loc[r1.ID == 10000000.0])

Empty DataFrame
Columns: [ID, 2015, name, plz, place, 2016]
Index: []

In [45]:
r1 = r1[['ID', 'name', 'plz', 'place', '2015', '2016']]

In [46]:
r1["ID"] = r1["ID"].astype(int)

In [47]:
print(r1.shape)
r1.dtypes

(297841, 6)

ID        int64
name     object
plz       int64
place    object
2015     object
2016     object
dtype: object

In [48]:
r2 = r1.copy()
r2.rename(columns={'plz': 'plz_i'}, inplace=True)
r2[['plz']] = r2[['plz_i']].astype(str)
r2['plz'] = r2['plz'].str.zfill(5)

In [49]:
mem1 = r2.memory_usage(index=True, deep=True).sum()
mem1 /= (1024 * 1024)

In [50]:
print(mem1)

116.324575424

In [51]:
BauerID = r2.copy()
BauerID.rename(columns={'ID': 'BauerID'}, inplace=True)
BauerID = BauerID.loc[:, ["BauerID", "name", "plz", "place"]]
mem2 = BauerID.memory_usage(index=True, deep=True).sum()
mem2 /= (1024 * 1024)
print(mem2)

65.6702613831

In [52]:
BauerID[BauerID.duplicated(["name", "plz", "place"], keep=False)]

Empty DataFrame
Columns: [BauerID, name, plz, place]
Index: []

In [53]:
BauerID.to_csv('BauerID.csv', encoding='utf-8', index=False)

In [54]:
IDLT = r2.loc[:, ["ID", "2015", "2016"]] # ID Lookup Table
IDLT.rename(columns={'ID': 'BauerID'}, inplace=True)
#print(IDLT)

In [55]:
IDLT.to_csv('IDLT.csv', encoding='utf-8', index=False)

In [56]:
grant_15 = pd.merge(IDLT, df, how='inner', left_on = '2015', right_on = 'pid')
#r1.rename(columns={'pid_x': '2015', 'pid_y': '2016'}, inplace=True)

In [57]:
#
#grant15 = grant_15.iloc[:, [0, 5:64]]
#print(grant_15)

In [58]:
a = list(range(0, 61))
for i in [1, 2, 3, 4, 5, 6]:
  a.remove(i)

#print(a)

In [59]:
grant_15 = grant_15.iloc[:, a]

In [60]:
grant_16 = pd.merge(IDLT, df_16, how='inner', left_on = '2016', right_on = 'pid')
#r1.rename(columns={'pid_x': '2015', 'pid_y': '2016'}, inplace=True)

In [61]:
t2_15 = df['Gesamt'].sum()/(10**6)
t2_16 = df_16['Gesamt'].sum()/(10**6)
print(t2_15, t2_16)

6452.10659279 5737.57592941

In [62]:
t2_15 = grant_15['Gesamt'].sum()/(10**6)
t2_16 = grant_16['Gesamt'].sum()/(10**6)
print(t2_15, t2_16)

6452.10659279 5737.57592941

In [63]:
print(df.shape)
print(grant_15.shape)
print(df_16.shape)
print(grant_16.shape)

(267477, 59)
(267477, 55)
(251709, 61)
(251709, 64)

In [64]:
b = list(range(0, 64))
for i in [1, 2, 3, 4, 5, 6]:
  b.remove(i)

#print(a)

In [65]:
grant_16 = grant_16.iloc[:, b]

In [66]:
#print(grant_16)

In [67]:
grant_16.to_csv('grant_16.csv', encoding='utf-8', index=False)
grant_15.to_csv('grant_15.csv', encoding='utf-8', index=False)